* {
  font-family: Helvetica;
  font-weight: 400;
}

body {
  background-color: white;
}

/* Top Navbar Code */
nav {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  overflow: hidden;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  list-style-type: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 0 24px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Logo Styling */
.logo {
  width: 375px;
}

.logo-box {
  margin-bottom: 20px;
}

.search-box {
  margin-bottom: 20px;
  display: block;
  height: 44px;
  width: 632px;
}

.search {
  height: 44px;
  width: 484px;
}

/* Main Content Styling */

.main-content {
  margin: 180px;
}

/* Footer */
footer {
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
  visibility: visible;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer span {
  display: inline;
}
.fsl {
  float: left;
  white-space: nowrap;
}

.fsr {
  float: right;
  white-space: nowrap;
}

footer span a {
  color: dimgray;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

footer span a:hover {
  color: black;
  text-decoration: underline;
}
